<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan">
  <test thread-count="5" name="PersonalLoan">
 	 <classes>
  		<class name="pckge.Test1"></class>
   		<class name="pckge.Test2"></class>
  
 	 </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="CarLoan">
  	<classes>
 		 <class name="pckge.Login">
 			 <methods>
  				<exclude name="MobileLogin">
  				 </exclude>
 			 </methods>
 		 </class>
   		 <class name="pckge.CarLoan"></class>
   </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="5" name="HomeLoan">
  <classes>
    <class name="pckge.HomeLoan"></class>
  
  </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
